body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #514E4E;
    margin: 0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    background-color: #514E4E;
    padding: 25px;
}
.grid img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.Apa {
    background-color: #514E4E;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}